*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
.artifacts
local.properties
xcuserdata

# Kotlin 2.0
.kotlin

*.podspec

# Firebase configuration: must be downloaded from Firebase console
androidApp/google-services.json
iosApp/iosApp/GoogleService-Info.plist

# files for publishing
keystore.properties
release.keystore
